# digital ocean
digitalocean_token          = ""

# for the following values, from the digitial ocean UI, go to create Droplet -> fill out info and click "create via commandline" to get the values below
droplet_name                = "main-server"
droplet_image               = "158062325" # 158062325 Ubuntu docker-20-04
droplet_size                = "s-1vcpu-2gb-amd" # ~ $14 / month
droplet_region              = "nyc"
droplet_ssh_keys            = [ "your_ssh_key_fingerprint_here",
                                "de:ad:be:ef:de:ad:be:ef:de:ad:be:ef:de:ad:be:ef"]
update_bashrc               = true
ssh_private_key_path        = "" # path to root cert for droplet EG: ~/.ssh/id_rsa
bootstrap_script            = "./remote-droplet-setup.sh"

# cloudflare
cloudflare_email            = ""
cloudflare_api_token        = ""

# zone_id is located on the Cloudflare UI "Overview" -> Bottom Right
cloudflare_zone_id          = ""

cloudflare_subdomain        = "" # leave empty for a random hash
cloudflare_domain_proxy     = false
static_domain               = "example.com"
